/* Edit Post */
.wpaa-select-behaviour .wpaa-behaviour-controls {
	display:none;
}
.wpaa-select-behaviour.custom .wpaa-behaviour-controls {
	display:block;
}
#post-wpaa .inside {
	padding:0;
	margin:0;
}

/* list posts */
.wpaa-default-permission {
	display:none;
}

.wpaa-access-area {
	display:inline-block;
	padding:0.25em 0.5em;
	margin:0.25em;
	background:#f0f0f0;
	border:1px dotted #bbb;
}
.wpaa-access-area:before {
	margin-right:0.25em
}

/* edit user assign aa  */
.wpaa-label-item.dashicons-before:before,
.wpaa-section th .dashicons-before:before {
	margin-right:0.5em;
	float:left;
}
.wpaa-section th,
.wpaa-section td {
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #dfdfdf;
}

/* options page */
#wpaa-options .set-default-caps tfoot th,
#wpaa-options .set-default-caps thead th {
	font-weight:400;
	border-left-style:none;
}
#wpaa-options .set-default-caps tfoot th:first-child,
#wpaa-options .set-default-caps thead th:first-child {
	border-left-style:none;
}
#wpaa-options .set-default-caps td {
	font-weight:400;
	padding:5px;
	border-left:1px solid #ccc;
}
#wpaa-options .set-default-caps th {
	padding:5px 7px;
}

.wpaa-label-item {
	display:inline-block;
	width:12em;
	border:1px solid #aaa;
	padding:0.25em 0.25em 0.25em 1em;
	background:#eeeeee;
	margin:0.125em;
	-webkit-border-top-left-radius: 2em;
	-webkit-border-bottom-left-radius: 2em;
	-moz-border-radius-topleft: 2em;
	-moz-border-radius-bottomleft: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	
	-webkit-box-shadow: 3px 3px 10px #666;
	-moz-box-shadow: 3px 3px 10px #666;
	box-shadow: 3px 3px 10px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#6666')";

	border-width:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-ms-filter: none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.select-accessarea-form {
	display:inline-block;
}
.select-accessarea-form.dashicons-before:before {
	vertical-align:middle;
	margin-right:0.25em;
}
.wp-list-table .column-labels {
}
.wp-list-table .wpaa-label-item {
	font-size:0.85em;
	float:left;
	padding:0.125em;
	border-width:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-ms-filter: none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.wpaa-label-item.error {
	background:#faa;
	color:#600;
}
.wpaa-label-item input[type='checkbox'] {
}
.wpaa-label-item label {
	font-weight:bold;
	color:333;
}
.wpaa-label-item.disabled label {
	color:#999;
}


/* bulk edit */
#wpbody-content .bulk-edit-row-page .inline-edit-col-right {
	width:35%;
}

#wpbody-content .bulk-edit-row-page .inline-edit-col-access-areas {
	width:30%;
	margin-top:27px;
}
#wpbody-content .bulk-edit-row-page .inline-edit-col-access-areas label span.title {
	width:auto;
}

/* ajax add */
.cap-add {
	width:9em;
}


