@charset "UTF-8";
.wpaa-access-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  border: 1px solid #cccccc;
  margin: 3px;
  position: relative;
  border-radius: 3px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  background: #f1f1f1;
  vertical-align: top;
  padding: 0 10px 1px 10px;
  width: 150px;
  white-space: nowrap; }
  .wpaa-access-area > span {
    margin-right: auto;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
  .wpaa-access-area.idle {
    pointer-events: none; }
    .wpaa-access-area.idle .button-link:before {
      content: "";
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-play-state: running;
              animation-play-state: running;
      color: #32373c; }
  .wpaa-access-area[data-wpaa-scope]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area[data-wpaa-scope="0"]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-base-access:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-role-access:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-view:after, .wpaa-access-area.wpaa-access-type-edit:after, .wpaa-access-area.wpaa-access-type-comment:after {
    margin: -15px -23px -2px 0px;
    padding: 3.5px;
    background: #fff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: -5px 5px 2px #cccccc;
            box-shadow: -5px 5px 2px #cccccc;
    border-radius: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .wpaa-access-area.wpaa-access-type-view:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-edit:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-comment:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area .button-link {
    min-width: 20px; }
    .wpaa-access-area .button-link:before {
      display: inline-block;
      -webkit-animation: spin 1.5s linear infinite paused;
              animation: spin 1.5s linear infinite paused; }
  .wpaa-access-area:before {
    color: #7f8284;
    color: #9e9fa1;
    margin: 3px 3px 3px 0; }

table.widefat tr > :first-child {
  padding-left: 10px; }

.media-modal.access-area-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .media-modal.access-area-modal .media-modal-content {
    min-width: 320px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    bottom: auto;
    position: relative; }
  .media-modal.access-area-modal .media-modal-header {
    height: 50px;
    border-bottom: 1px solid #cccccc; }
    .media-modal.access-area-modal .media-modal-header h1 {
      padding: 16px;
      margin: 0; }
  .media-modal.access-area-modal .modal-content {
    padding: 15px;
    background: #f9f9f9;
    position: absolute;
    top: 51px;
    bottom: 60px;
    left: 0;
    right: 0; }
    .media-modal.access-area-modal .modal-content input {
      font-size: 18px;
      padding: 12px 14px;
      width: 100%;
      min-width: 200px;
      -webkit-box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
              box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.1); }
    .media-modal.access-area-modal .modal-content .notice {
      margin-left: 0;
      margin-right: 0; }
  .media-modal.access-area-modal .modal-toolbar {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    border-top: 1px solid #cccccc; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.assign-access-areas [data-wpaa-action="grant"] {
  width: auto;
  margin: 3px; }
  .assign-access-areas [data-wpaa-action="grant"]:before {
    font-size: 20px; }

.assign-access-areas [data-wpaa-action="revoke"] {
  color: #32373c; }
  .assign-access-areas [data-wpaa-action="revoke"]:hover, .assign-access-areas [data-wpaa-action="revoke"]:focus {
    color: #dc3232; }
