@charset "UTF-8";
.wpaa-behavior-http-status,
.wpaa-behavior-fallback-page,
.wpaa-access-control {
  padding: 3px 0; }
  .wpaa-behavior-http-status label,
  .wpaa-behavior-fallback-page label,
  .wpaa-access-control label {
    width: 40%;
    display: block;
    float: left;
    clear: left;
    vertical-align: middle; }
  .wpaa-behavior-http-status select,
  .wpaa-behavior-fallback-page select,
  .wpaa-access-control select {
    width: 60%;
    margin: 0;
    float: left;
    vertical-align: middle; }

.postbox .wpaa-behavior-controls .wpaa-behavior-control {
  padding: 5px 0;
  margin-top: 5px;
  border-top: 1px solid #f1f1f1; }
  .postbox .wpaa-behavior-controls .wpaa-behavior-control:first-of-type {
    border-top-style: none; }

.wpaa-behavior .description {
  margin-bottom: 0.5em; }

.wpaa-behavior > label {
  display: inline-block;
  min-width: 100%;
  margin-bottom: 0.5em; }

.wpaa-behavior[data-value="404"] ~ .wpaa-behavior-fallback-page {
  display: none; }

.wpaa-behavior[data-value="page"] ~ .wpaa-behavior-http-status {
  display: none; }

.wpaa-access-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  border: 1px solid #cccccc;
  margin: 3px;
  position: relative;
  border-radius: 3px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  background: #f1f1f1;
  vertical-align: top;
  padding: 0 10px 1px 10px;
  width: 150px;
  white-space: nowrap; }
  .wpaa-access-area > span {
    margin-right: auto;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
  .wpaa-access-area.idle {
    pointer-events: none; }
    .wpaa-access-area.idle .button-link:before {
      content: "";
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-play-state: running;
              animation-play-state: running;
      color: #32373c; }
  .wpaa-access-area[data-wpaa-scope]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area[data-wpaa-scope="0"]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-base-access:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-role-access:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-view:after, .wpaa-access-area.wpaa-access-type-edit:after, .wpaa-access-area.wpaa-access-type-comment:after {
    margin: -15px -23px -2px 0px;
    padding: 3.5px;
    background: #fff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: -5px 5px 2px #cccccc;
            box-shadow: -5px 5px 2px #cccccc;
    border-radius: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .wpaa-access-area.wpaa-access-type-view:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-edit:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area.wpaa-access-type-comment:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    -o-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .wpaa-access-area .button-link {
    min-width: 20px; }
    .wpaa-access-area .button-link:before {
      display: inline-block;
      -webkit-animation: spin 1.5s linear infinite paused;
              animation: spin 1.5s linear infinite paused; }
  .wpaa-access-area:before {
    color: #7f8284;
    color: #9e9fa1;
    margin: 3px 3px 3px 0; }
