.wpaa-behavior-http-status,
.wpaa-behavior-fallback-page,
.wpaa-access-control {
  padding: 3px 0; }
  .wpaa-behavior-http-status label,
  .wpaa-behavior-fallback-page label,
  .wpaa-access-control label {
    width: 40%;
    display: block;
    float: left;
    clear: left;
    vertical-align: middle; }
  .wpaa-behavior-http-status select,
  .wpaa-behavior-fallback-page select,
  .wpaa-access-control select {
    width: 60%;
    margin: 0;
    float: left;
    vertical-align: middle; }

.postbox .wpaa-behavior-controls .wpaa-behavior-control {
  padding: 5px 0;
  margin-top: 5px;
  border-top: 1px solid #f1f1f1; }
  .postbox .wpaa-behavior-controls .wpaa-behavior-control:first-of-type {
    border-top-style: none; }

.wpaa-behavior .description {
  margin-bottom: 0.5em; }

.wpaa-behavior > label {
  display: inline-block;
  min-width: 100%;
  margin-bottom: 0.5em; }

.wpaa-behavior[data-value="404"] ~ .wpaa-behavior-fallback-page {
  display: none; }

.wpaa-behavior[data-value="page"] ~ .wpaa-behavior-http-status {
  display: none; }
