@import '../variables/variables';

@import '../mixins/mixins';

@import '../modules/base';


table.widefat {
	tr {
		& > :first-child {
			padding-left:10px;
		}
	}
}

.media-modal {
	&.access-area-modal {
		display:flex;
		align-items: center;
		.media-modal-content {
			min-width:320px;
			max-width:600px;
			width:100%;
			margin:0 auto;
			bottom:auto;
			position:relative;
		}
		.media-modal-header {
			height:50px;
			border-bottom:1px solid $wp-gray-dark;
			h1 {
				padding:16px;
				margin:0;
			}
		}
		.modal-content {
			padding:15px;
			background:$wp-gray-lighter;
			position:absolute;
			top:51px;
			bottom:60px;
			left:0;
			right:0;
			input {
				font-size: 18px;
			    padding: 12px 14px;
			    width: 100%;
			    min-width: 200px;
			    box-shadow: inset 2px 2px 4px -2px rgba( 0, 0, 0, 0.1 );
			}
			.notice {
				margin-left:0;
				margin-right:0;
			}
		}
		.modal-toolbar {
			padding:15px;
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			text-align:right;
			border-top:1px solid $wp-gray-dark;
		}
	}
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}



.assign-access-areas {
	[data-wpaa-action="grant"] {
		width:auto;
		margin:3px;
		&:before {
			font-size:20px;
		}
	}
	[data-wpaa-action="revoke"] {
		color:$wp-gray-darker;
		&:hover,
		&:focus {
			color:$wp-red;
		}
	}

}
